<%= form_for(@zombie) do |f| %>
  <% if @zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% @zombie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_for(@zombie) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %><br />
      <%= f.label :limbs %><br />
      <%= collection_check_boxes(:zombie, 
                                 :limb_ids, 
                                 @limbs, 
                                 :id, 
                                 :kind) %>
      <%= f.submit %>
    </div>
    <% end %>
  </div>
<% end %>
